* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;

    background: linear-gradient(
        109deg,
        rgba(10, 12, 16, 0.99) 15%,
        rgba(10, 12, 16, 0.7) 50%,
        rgba(10, 12, 16, 0.99) 85%
    );
}

.wrapper a {
    color: white;
    padding: 20px;
    font-size: 30px;
}

.wrapper a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}
